.popup {
  z-index: 1;
  position: fixed;
  width: 22%;
  left: 75%;
  margin: auto;

  margin-top: 10px;
  margin-left: 10px;

  border: solid #bbb 1px;
  box-shadow: 0 2px 2px -2px;
  padding: 0 5px 0 10px;
  border-radius: 2px;
  min-width: 230px;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}