.App {
  text-align: center;
  background-color: #0151f0;
}

.NavDropdown-test {
  color: red;
  background-color: green;
  text-shadow: hotpink;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
